.button {
	text-decoration: none;
    text-align: center;
    background: #fff;
    color: #666;
    padding: 3px 10px 5px;
    border-radius: 17px;
	border: 1px solid #ddd;
	position: relative;
	z-index: 3;
	cursor: pointer;
}

.button:hover {
	color: #0078d7;
	border: 1px solid #ccc;
}

.root {
	text-align: center;
	position: relative;
}

.line {
	border-bottom: 1px solid #ddd;
    position: absolute;
    top: 11px;
	width: 100%;
	z-index: 2;
}