.root {
	background: #fff;
	border: 1px solid #ddd;
	width: 100%;
	display: flex;
	height: 100px;
}

.icon {
	flex: 0 0 100px;
	max-width: 100px;
	min-width: 100px;
	border-right: 1px solid #ddd;
	font-size: 64px;
	text-align: center;
	padding-top: 17px;
}

.content {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.user {
	position: relative;
	padding-left: 30px;
}
.avatar {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	position: absolute;
	left: 0;
	top: 0;
}

.timestamp {
	font-size: .8em;
}